* {
    font-family: helvetica;
}

header {
    color: #640592;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 50px;
    font-weight: bold;
    font-size: 250%;
}

footer {
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 50px;
    font-weight: bold;
    font-size: 80%;
}


#head_line {
    color: white;
}

body {
    color: white;
    padding-top: 2%;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 2%;
    background-color: #252424;
    font-size:1.2vw;
}

body h1 {
    color: #3cb371;
}

body h2 {
    color: #3cb371;
}

body h3 {
    color: #3cb371;
}

body main {
    padding: 20px;
    background: #103a47;
    border-radius: 25px;
    font-size: clamp(0.2rem, 1.5vw, 1.5rem);
    color: white;
    opacity: 0.9;
}

.column-profile strong {
    color: #3cb371;
}


a, u {
    color: #b3acad;
    text-decoration: none;
}

.column a {
    color: #b3acad;
}
#terminallink {
    color: #b3acad;
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.5em;

}
div #projects {

    background: #616161;
    padding:  5%;
    border-radius: 5px
}

#projects {
    font-size: clamp(0.2rem, 0.9vw, 1.5rem);
}

#projects a {
    color: #ff0000;
}

#profile {
    width: 6rem;
    height: auto;
    object-fit: cover;
}

#post {
  width: clamp(1rem, 50vw, 180rem);
  height: auto;
  object-fit: cover;
}

#centered-image {
    text-align: center;
}

#centered-text {
    text-align: center;
}

.button {
    background-color:#6a5acd;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

.button:hover {
    background-color: #432fff;/
    color: white;
}

 .row {
    display: flex;
}

.column {
    flex: 50%;
    padding: 2%;
    width:  auto;
}

.column-profile {
    flex: 25%;
    padding: 2%;
}

.dot-active {
  height: 1vw;
  width: 1vw;
  background-color: #3cb371;
  border-radius: 50%;
  display: inline-block;
}

.dot-inactive {
  height: 1vw;
  width: 1vw;
  background-color: #ffa500;
  border-radius: 50%;
  display: inline-block;
}

.dot-dead {
  height: 1vw;
  width: 1vw;
  background-color: #ff0000;
  border-radius: 50%;
  display: inline-block;
}

.dot-finished {
  height: 1vw;
  width: 1vw;
  background-color: #611bb3;
  border-radius: 50%;
  display: inline-block;
}


/* taken from https://getcssscan.com/css-buttons-examples */
.button-24 {
  background: #FF4742;
  border: 2px solid #FF4742;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 20px 25px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.button-24:active {
  opacity: .5;
}

#code {
    font-family: monospace;
    font-size: $base-font-size;
    line-height: 100%;
    background-color: #221f1e;
    padding: 1.2em;
    letter-spacing: -0.05em;
    word-break: normal;
    /border-radius: 5px;/
  }
  img {
    width: 500px; 
    height: auto;
  }

